
  <div class="container top">
    <div class="row">
      <div class="col-sm-12">
        <h2>Sobre Nosotros</h2>

        <p>Contacto Legislativo es una iniciativa creada por un grupo de ciudadanos independientes preocupados por la brecha de comunicación entre representantes políticos y la ciudadanía. </p>
        <p>Creemos que abrir espacios de debate entre representantes y ciudadanos favorece el desarrollo del país, pues propicia la participación ciudadana en el desarrollo de iniciativas e incrementa el sentido de responsabilidad de servidores públicos. </p>
        <p>Con tal propósito se ha creado una plataforma web que permita a la ciudadanía identificar a su diputado federal, obtener información de contacto y un resumen de su desempeño de una manera amigable. </p>
        <p>Contacto Legislativo recaba información de varias <a href="#/sources">fuentes</a> como lo son INEGI, INE, Cámara de Diputados, así como de otras iniciativas como 3de3 de IMCO y #SinVotoNoHayDinero de Pedro Kumamoto. </p>
        <p>Por un México con ciudadanos informados y políticos responsables.</p>

        <p style="font-style: italic;text-align: right;">Contacto Legislativo</p>
      </div>
    </div>
  </div>
