<div class="container top">
  <div class="row">
    <div class="col-sm-12">
      <h3>Fuentes</h3>

      <h4><a href="http://sitl.diputados.gob.mx/LXI_leg/info_diputados.php" target="_blank">Cámara de Diputados</a></h4>
      <p>Utilizamos el portal de la cámara de diputados para obtener información de los diputados federales de la LXVII Legislatura, como lo son: Nombre, Partido, Entidad, Distrito, Correo Electrónico. Así como detalles sobre la asistencia, iniciativas y votos en el pleno. </p>

      <h4><a href="https://blog.diegovalle.net/2013/02/download-shapefiles-of-mexico.html" target="_blank">Diego Valle</a></h4>
      <p>Utilizamos la información publicada por el investigador Diego Valle sobre el mapeo de distritos electorales en México, para determinar el diputado federal correspondiente a cada municipio de México.</p>

      <h4><a href="http://3de3.mx" target="_blank">3de3.mx</a></h4>
      <p>Utilizamos la información publicada por 3de3 para mostrar que diputados han realizado su declaración 3de3 en el portal del IMCO. También utilizamos las referencias a las cuentas de twitter de los diputados federales.</p>

      <h4><a href="http://sinvotonohaydinero.mx" target="_blank">#SinVotoNoHayDinero</a></h4>
      <p>Utilizamos la información publicada sobre las cuentas de twitter de los diputados federales.</p>
    </div>
  </div>
</div>
