!/downloads
/downloads/*
!/downloads/data.zip
node_modules

/public/assets/vendor/*
!/public/assets/vendor/bootstrap
!/public/assets/vendor/bootstrap/*

*.sqlite
npm-debug.log

# mongo database
data/db/mongo/**
data/db/mysql/**

# nginx config log files
data/log/nginx/**
data/log/pm2/**

# portal drive storage
data/drive/storage/**
