<div scrollify=".section">
  <div id="first" class="section pink">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center m-b">El diputado de tu distrito es</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="picture">
            <div class="img-circle">
              <img ng-src="http://sitl.diputados.gob.mx/LXIII_leg/{{deputy.picture}}"/>
            </div>
            <img  class="party" ng-src="assets/images/{{deputy.party}}.png">
          </div>
        </div>
        <div class="col-xs-12 text-center sm-p-t">
          <h2>{{deputy.displayName}}</h2>
          <h4 class="text-secondary">{{deputy.election}}</h4>
          <h4 class="text-secondary">{{deputy.state}} - Distrito: {{deputy.district}}</h4>
          <ul class="btn-group">
            <li class="circle-btn" ng-click="selected = 2"><i class="fa fa-2x fa-phone"></i></li>
            <li class="circle-btn" ng-click="selected = 1"><i class="fa fa-2x fa-twitter"></i></li>
            <li class="circle-btn" ng-click="selected = 3"><i class="fa fa-2x fa-envelope"></i></li>
          </ul>
          <h4 ng-show="selected == 1"><a ng-href="https://twitter.com/intent/tweet?screen_name={{deputy.twitter}}&amp;text={{tweetText}}" target="_blank">@{{deputy.twitter}}</a></h4>
          <h4 ng-show="selected == 2"><a ng-href="tel:{{deputy.phone}}">{{deputy.phone}}</a></h4>
          <h4 ng-show="selected == 3"><a ng-href="mailto:{{deputy.email}}?Subject=Sobre%20su%20performance" target="_top">{{deputy.email}}</a></h4>
        </div>
      </div>
    </div>
  </div>

  <div ui-include="'angular/templates/district/attendance.html'"></div>
  <div ui-include="'angular/templates/district/initiatives.html'"></div>
  <div ui-include="'angular/templates/district/tresdetres.html'"></div>
  <div ui-include="'angular/templates/district/money.html'"></div>

  <div class="section pink">
    <div class="container">
      <div class="row text-center">
        <h3 class="m-b">Invita a tus amigos a conocer mas sobre sus diputados</h3>
        <ul class="btn-group">
          <li class="btn btn-primary">
            <a target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?u={{facebookShare.url}}&amp;title={{facebookShare.title}}">
              <i class="fa fa-2x fa-facebook-official"></i> <span>Compartir</span>
            </a>
          </li>
          <li class="btn btn-info">
            <a target="_blank" ng-href="https://twitter.com/intent/tweet?screen_name=contactolegislativo&amp;text={{twitterShare}}">
              <i class="fa fa-2x fa-twitter-square"></i> <span>Compartir</span>
            </a>
          </li>
          <li class="btn btn-success">
            <a target="_blank" ng-href="whatsapp://send?text={{whatsappShare}}" data-action="share/whatsapp/share">
              <i class="fa fa-2x fa-whatsapp"></i> <span>Compartir</span>
            </a>
          </li>
        </ul>
        <h3 class="m-t">por un México con ciudadanos informados y diputados responsables</h3>
      </div>
    </div>
</div>

<div class="section pink">
  <div class="container">
    <div class="row text-center">
      <h3 class="m-b">Te invitamos a seguir de cerca nuestra propuesta en</h3>
      <ul class="btn-group">
        <li class="btn btn-primary">
          <a target="_blank" ng-href="http://www.facebook.com/contactolegislativo">
            <i class="fa fa-2x fa-facebook-official"></i>
          </a>
        </li>
        <li class="btn btn-info">
          <a target="_blank" ng-href="http://www.twitter.com/contactolegislativo">
            <i class="fa fa-2x fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="crafted text-center">
    <span>Crafted with love by</span>
    <a href="http://www.facebook.com/wedevelopmx" target="_blank">
      <img src="assets/images/wedevelop_white_trans.png"/>
    </a>
  </div>
</div>

</div>
