<div scrollify=".section">
  <div class="section pink">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="text-center m-b">El diputado de tu distrito es</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="picture">
            <div class="img-circle">
              <img ng-src="http://sitl.diputados.gob.mx/LXIII_leg/{{deputy.picture}}"/>
            </div>
            <img  class="party" ng-src="assets/images/{{deputy.party}}.png">
          </div>
        </div>
        <div class="col-xs-12 text-center sm-p-t">
          <h2>{{deputy.displayName}}</h2>
          <h4 class="text-secondary">{{deputy.election}}</h4>
          <h4 class="text-secondary">{{deputy.state}} - Distrito: {{deputy.district}}</h4>
          <ul class="btn-group">
            <li class="circle-btn" ng-click="selected = 2"><i class="fa fa-2x fa-phone"></i></li>
            <li class="circle-btn" ng-click="selected = 1"><i class="fa fa-2x fa-twitter"></i></li>
            <li class="circle-btn" ng-click="selected = 3"><i class="fa fa-2x fa-envelope"></i></li>
          </ul>
          <h4 ng-show="selected == 1"><a ng-href="https://twitter.com/intent/tweet?screen_name={{deputy.twitter}}&text={{tweetText}}" target="_blank">@{{deputy.twitter}}</a></h4>
          <h4 ng-show="selected == 2"><a ng-href="tel:{{deputy.phone}}">{{deputy.phone}}</a></h4>
          <h4 ng-show="selected == 3"><a ng-href="mailto:{{deputy.email}}?Subject=Sobre%20su%20performance" target="_top">{{deputy.email}}</a></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row text-center" ng-if="deputy.tres">
        <h3 class="m-b">Tu diputado ha declarado su 3de3</h3>
        <h4 class="m-b">Pudes ver sus declaraciones en el portal de <a href="http://tresdetres.mx" target="_blank">tresdetres.mx</a></h4>
        <ul class="btn-group">
          <li class="circle-btn">
            <a ng-href="{{deputy.fiscal}}" target="_blank">
              <i class="fa fa-2x fa-money"></i>
            </a>
          </li>
          <li class="circle-btn">
            <a ng-href="{{deputy.patrimonial}}" target="_blank">
              <i class="fa fa-2x fa-pencil"></i>
            </a>
          </li>
          <li class="circle-btn">
            <a ng-href="{{deputy.intereses}}" target="_blank">
              <i class="fa fa-2x fa-comment"></i>
            </a>
          </li>
        </ul>
        <h4 style="width: 80%;margin: 4rem auto;">3 de 3 es una iniciativa impulsada por <a href="http://twitter.com/imcomx" target="_blank">@IMCOmx</a> e <a href="http://twitter.com/IntegridadMx" target="_blank">@IntegridadMx</a>, para mas informacion visita <a href="http://tresdetres.mx" target="_blank">tresdetres.mx</a>.</h4>
      </div>
      <div class="row text-center" ng-if="deputy.tres == 0">
        <h3 class="m-b">Tu diputado no ha declarado su tres de tres</h3>
        <h4 class="m-b">Pídele a tu diputado que publique sus tres declaraciones</h4>
        <ul class="btn-group">
          <li class="circle-btn" ng-click="selected = 1">
            <a ng-href="https://twitter.com/intent/tweet?screen_name={{deputy.twitter}}&text={{tweetText}}" target="_blank">
              <i class="fa fa-2x fa-twitter"></i>
            </a>
          </li>
        </ul>
        <h4 style="width: 80%;margin: 4rem auto;">3 de 3 es una iniciativa impulsada por <a href="http://twitter.com/imcomx" target="_blank">@IMCOmx</a> e <a href="http://twitter.com/IntegridadMx" target="_blank">@IntegridadMx</a>, para mas informacion visita <a href="http://tresdetres.mx" target="_blank">tresdetres.mx</a>.</h4>
      </div>
    </div>
  </div>

  <div ui-include="'angular/templates/district/attendance.html'"></div>
  <div ui-include="'angular/templates/district/initiatives.html'"></div>
  <div ui-include="'angular/templates/district/money.html'"></div>
  <!-- <div ui-include="'angular/templates/district/votes.html'"></div> -->
</div>
