<div scrollify=".section">
  <div class="section pink">
    <div class="container text-center">
      <h2 class="text-secondary">Nuestros legisladores realizan una labor importante para todos los ciudadanos</h2>
      <h1>Lamentablemente no tenemos visibilidad de su desempeño</h1>
      <h2 class="text-secondary">Y por lo tanto no podemos darles una retroalimentación pertinente</h2>
      <span class="next" scroll-next="">
        <i class="fa fa-3x fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div class="section">
    <div class="container text-center">
      <h2 class="text-secondary">Representa Me</h2>
      <h1>Te permite ver su desempeño de una forma sencilla</h1>
      <h2 class="text-secondary">Al interpretar la información del portal de gobernación</h2>
      <span class="next" scroll-next="">
        <i class="fa fa-3x fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div class="section pink">
    <div class="container text-center">
      <h2 class="text-secondary">Te invitamos a ver cómo se desempeña el diputado federal de tu distrito</h2>
      <h1><a ng-href="{{districtUrl}}">{{address.state}}, {{address.town}}, {{address.country}}</a></h1>
      <h4 class="text-secondary">¿Esta no es tu ubicación? <span>Seleccione aqui<span></h4>
      <!-- <span class="next" scroll-next="">
        <i class="fa fa-3x fa-caret-down"></i>
      </span> -->
    </div>
  </div>
</div>
