<div scrollify=".step">
  <div class="step section">
    <div class="text-center">
      <h2 class="text-light">Nuestros legisladores realizan una labor importante para todos los ciudadanos</h2>
      <h1>Lamentablemente no tenemos visibilidad de su desempeno</h1>
      <h2 class="text-light">Y por lo tanto no podemos dar les una retroalimentacion pertinenete</h2>
      <span class="next" scroll-next="">
        <i class="fa fa-3x fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div class="step section">
    <div class="text-center">
      <h2 class="text-light">Representa Me</h2>
      <h1>Te provee de una forma sencilla de ver su desempeno</h1>
      <h2 class="text-light">Con base la informacion del portal de gobernacion</h2>
      <span class="next" scroll-next="">
        <i class="fa fa-3x fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div class="step section">
    <div class="text-center">
      <h2 class="text-light">Te invitamos a ver como se desempena el diputado de tu region</h2>
      <h1>{{address.state}}, {{address.town}}, {{address.country}}</h1>
      <h6 class="text-light">Seleccionar mi distrito</h6>
      <h2 class="text-light">Tambien puedes ver otros diputados aqui</h2>
      <span class="next" scroll-next="">
        <i class="fa fa-3x fa-caret-down"></i>
      </span>
    </div>
  </div>
</div>
