<div scrollify=".section">
  <div class="section pink">
    <div class="container text-center animated fadeIn">
      <h3 class="text-secondary">Nuestros legisladores realizan una labor importante para todos los ciudadanos</h3>
      <h2>Lamentablemente no tenemos visibilidad de su desempeño</h2>
      <h3 class="text-secondary">Y por lo tanto no podemos darles una retroalimentación pertinente</h3>
      <span class="next" scroll-next="">
        <i class="fa fa-3x fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div class="section">
    <div class="container text-center animated">
      <img class="contacto" src="assets/images/contacto_legislativo_white.png"/>
      <h2>Te permite ver su desempeño de una forma sencilla</h2>
      <h3 class="text-secondary">Al interpretar la información del portal de gobernación</h3>
      <span class="next" scroll-next="">
        <i class="fa fa-3x fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div class="section pink">
    <div class="container text-center animated">
      <h3>Te invitamos a ver cómo se desempeña el diputado federal de tu distrito</h3>
      <div ng-hide="choseLocation">
        <h2><a ng-href="{{districtUrl}}">{{address.state}}, {{address.town}}, {{address.country}}</a></h2>
        <h4 class="text-secondary">¿Esta no es tu ubicación? <span ng-click="choseLocation = true">Seleccione aqui<span></h4>
      </div>
      <div class="p-t" ng-show="choseLocation">
        <h3 class="text-secondary">Selecciona tu estado y municipio:</h3>
        <form class="p-t">
          <div class="col-xm-5 form-group">
            <select class="form-control" ng-model="selectedState"
              ng-options="state.name for state in states track by state.id"
              ng-change="loadMunicipalities()">
            </select>
          </div>
          <div class="col-xm-5 form-group">
            <select class="form-control" ng-model="selectedTown"
              ng-options="municipality.name for municipality in municipalities track by municipality.id"
              ng-change="loadDistrictUrl()">
              <option value="0" selected>-- Selecciona un municipio --</option>
            </select>
          </div>
          <div class="col-xm-2 form-group">
            <h3><a ng-href="{{districtUrl}}">Ver {{ selectedState.name }}, {{selectedTown.name}}, Mexico</a></h3>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
