<div ng-controller="DistrictInitiativesController">
  <div class="section">
    <div class="container">
      <h3 class="text-center">Iniciativas</h3>
      <h4 class="text-center m-b">¿Cuantas iniciativas a apoyado tu diputado?</h4>
      <div doughnut="initiativesPie">
        <div class="chart"></div>
        <span class="source">Fuente: <a ng-href="http://sitl.diputados.gob.mx/LXIII_leg/iniciativas_diputados_xperiodonplxiii.php?dipt={{deputy.id}}" target="_blank">Camara de diputados</a></span>
      </div>
      <h5 class="text-center m-t">¿Cual es la diferencia entre Proponente, Adherente y Suscribe?</h5>
    </div>
  </div>
  <div class="section">
    <div class="container">
        <h4 class="text-center m-b">Tu diputado tiene {{deputy.initiatives}} inciativas propias</h4>
        <div rose="chamber.initiativesChart">
          <div class="rose"></div>
          <!-- <div class="bar"></div> -->
          <span class="source">Fuente: <a ng-href="http://sitl.diputados.gob.mx/LXIII_leg/iniciativas_diputados_xperiodonplxiii.php?dipt={{deputy.id}}" target="_blank">Camara de diputados</a></span>
        </div>
        <h4 class="text-center p-t">{{chamber.initiativesChart.bar[2]}} integrantes de la camara presentaron mas iniciativas, esto es {{chamber.initiativesChart.better.toFixed(2)}}%</h4>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h4 class="text-center m-b" ng-show="initiativesGauge.party > initiativesGauge.deputy">Tu diputado tiene un MENOS iniciativas que la media en su partido</h4>
      <h4 class="text-center m-b" ng-show="initiativesGauge.party < initiativesGauge.deputy">Tu diputado tiene un MAS iniciativas que la media en su partido</h4>
      <div gauge="initiativesGauge">
        <div class="chart"></div>
        <span class="source">Fuente: <a ng-href="#/metodologia" target="_blank">Metodología  propia</a></span>
      </div>
      <h4 class="text-center m-t" ng-show="initiativesGauge.pluri < initiativesGauge.deputy">Y MAS iniciativas que los plurinominales</h4>
      <h4 class="text-center m-t" ng-show="initiativesGauge.pluri > initiativesGauge.deputy">Y MENOS iniciativas que los plurinominales</h4>
    </div>
  </div>
  <div class="section pink">
    <div class="container">

      <div class="rating">
        <i class="fa fa-star" ng-repeat="rate in rating.full track by $index"></i>
        <i class="fa fa-star-half-full" ng-repeat="rate in rating.half track by $index"></i>
        <i class="fa fa-star-o" ng-repeat="rate in rating.empty track by $index"></i>
      </div>
      <h3 class="text-center m-b">Tu diputado alcanza {{rate.toFixed(1)}} en iniciativas</h3>

      <h3 class="text-center m-b">Comparte tu feedback con tu diputado</h3>
      <div class="text-center">
        <ul class="btn-group">
          <li class="circle-btn"><a ng-href="https://twitter.com/intent/tweet?screen_name={{deputy.twitter}}&text={{tweetText}}" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
          <li class="circle-btn"><a ng-href="mailto:{{deputy.email}}?Subject=Sobre%20su%20performance" target="_top"><i class="fa fa-2x fa-envelope"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
