<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="description" content="Contacto Legislativo te permite ubicar a tu diputado y ver su desempeño de una forma sencilla" />
    <link rel="image_src" href="http://contactolegislativo.com/assets/images/contacto_legislativo_banner.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Facebook Share -->
    <meta property="og:url"                content="http://contactolegislativo.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="¿Sabes que diputado te representa?" />
    <meta property="og:description"        content="Contacto Legislativo te permite ubicar a tu diputado y ver su desempeño de una forma sencilla" />
    <meta property="og:image"              content="http://contactolegislativo.com/assets/images/contacto_legislativo_banner.png" />

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="assets/images/logo_red.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="assets/images/logo_red.png">

    <!-- style -->
    <link rel="stylesheet" href="assets/css/main.css" type="text/css" />
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap-theme.css" type="text/css" />
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="assets/vendor/animate.css/animate.min.css" type="text/css" />
  </head>
  <body ng-app="app">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">
            <img alt="Contacto Legislativo" src="assets/images/logo.png"> <span>Contacto Legislativo</span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/methodology">Metodología</a></li>
            <li><a href="#/about">Sobre Nosotros</a></li>
            <!-- <li><a href="#ranking">Ranking</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div ng-view>

    </div>
    <script type="text/javascript" src="assets/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/vendor/Scrollify/jquery.scrollify.min.js"></script>

    <script type="text/javascript" src="assets/js/echarts-all.js"></script>
    <script type="text/javascript" src="assets/js/echarts.js"></script>
    <script type="text/javascript" src="assets/js/theme.js"></script>
    <script type="text/javascript" src="assets/js/dark.js"></script>
    <script type="text/javascript" src="assets/js/jquery.echarts.js"></script>

    <script type="text/javascript" src="assets/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="assets/vendor/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="assets/vendor/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="angular/app.js"></script>
    <script type="text/javascript" src="angular/controller/main.js"></script>
    <script type="text/javascript" src="angular/controller/chamber.js"></script>
    <script type="text/javascript" src="angular/controller/district.js"></script>
    <script type="text/javascript" src="angular/controller/district-attendance.js"></script>
    <script type="text/javascript" src="angular/controller/district-initiatives.js"></script>
    <script type="text/javascript" src="angular/controller/district-votes.js"></script>
    <script type="text/javascript" src="angular/controller/party-budget.js"></script>
    <script type="text/javascript" src="angular/service/district.js"></script>
    <script type="text/javascript" src="angular/service/party.js"></script>
    <script type="text/javascript" src="angular/service/chamber.js"></script>
    <script type="text/javascript" src="angular/service/chart.js"></script>
    <script type="text/javascript" src="angular/service/chart-dimentions.js"></script>
    <script type="text/javascript" src="angular/service/state.js"></script>
    <script type="text/javascript" src="angular/directive/custom/ui-include.js"></script>
    <script type="text/javascript" src="angular/directive/scrollify.js"></script>
    <script type="text/javascript" src="angular/directive/doughnut-chart.js"></script>
    <script type="text/javascript" src="angular/directive/rainbow-bar.js"></script>
    <script type="text/javascript" src="angular/directive/pie-chart.js"></script>
    <script type="text/javascript" src="angular/directive/stack-bar-chart.js"></script>
    <script type="text/javascript" src="angular/directive/line-chart.js"></script>
    <script type="text/javascript" src="angular/directive/rose-chart.js"></script>
    <script type="text/javascript" src="angular/directive/comparative-gauge-chart.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92111911-1', 'auto');
      ga('send', 'pageview', location.pathname + location.hash);

    </script>
  </body>
</html>
